# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

xcuserdata
project.xcworkspace
.DS_Store

JamomaTest_*
!JamomaTest_*.*

*.dSYM


#Examples
examples/simple/simple

# Coverage Tools
*.gcda
*.gcno
cov.info


